.productos {
    background-color: aquamarine;
    margin: 5px;
    color: black;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    margin-bottom: 50px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
}

#parrafo1 {
    margin-left: 30px;
}

#idBoton {
    margin-bottom: 5px;
}

.card-title {
    display: flex;
    flex-wrap: wrap;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#idMostrar {
    margin: 5px;
}

.registro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}

.color {
    margin-left: 30px;
}

body {
    transition: ease 1s;
}

.darkMode {
    background-color: black;
    color: white;
}

.table {
    color: white;
    background-color: black;
}

.dropdown {
    margin-left: 30px;
    margin-bottom: 10px;
}

.card {
    color: black;
    background-color: aquamarine;
}

.btn-danger {
    margin: 10px;
}

.btn-primary {
    margin: 5px;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.carritoLogos {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    list-style-type: none;
}

.botonComprar {
    margin-left: 10px;
}

.imagenes {
    width: 45px;
}